body{
    background-color: #ACACAC;
    background-image: image-set("./Assets/Background1.jpg");
    background-size: cover;
    margin: 0px;
    font-family: "Tinos", serif;
    font-weight: 400;
    font-style: normal;
}
.educationBG{
    background-color: #4f4f4fe0;
}
.projectsBG{
    background-color: #010913df;   
}
.homeBG{
    background-color: #3d3d3db7;
}
.display{
    width: 100%;
}
.footer{
    background-color: rgb(1, 9, 19);
    height: fit-content;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
    a:hover{
        color: white;
        text-decoration: underline;
    }
}
.footerText{
    color: rgb(191, 191, 191);
    margin: 0px;
    text-decoration: none;
}
.footerLogo{
    color: rgb(159, 159, 159);
    font-size: 36px;
    margin: 0px;
}
.projectCardContainer{
    display: flex;
    flex-wrap: wrap;
}
.hobbies{
    display: flex;
    justify-content: center;
}
.hobbyImg{
    background-size: cover;
    height: 400px;
    width:600px;
    background-position: 50%;
}
.hobbyText{
    background-color: #051c375f;
}
@media(min-width :700px) {
    .mainBody{
        display: flex;
        height: fit-content;
    }
    .page{
        display: flex;
    }
    .profileImg{
        height: 100px;
        width: 100px;
        border-radius: 50%;
        background-image: image-set("./Assets/profile.jpg");
        background-size: cover;
        background-position: 10%;
        margin: 0%;
        margin-left: 15px;
    }
    .navBar{
        background-image: image-set("./Assets/BG8.jpg");
        background-size: cover;
        width: fit-content;
        min-width: 180px;
        border-right: rgba(1, 7, 28, 0.458) solid 10px;

    }
    .navigation{
        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: column;
        position: fixed;
        margin:5px ;
    }
    .eduNav, .projectNav{
        background-image: none;
        background-color: #051c37;      
    }
    .navButton, .navBtn, .navMenuButton{
        height: 0px;
    }
    .navLinks{
        height: fit-content;
    }
    .navLink{
        color: #ACACAC;
        text-decoration: none;
        font-size: 12px;
    }
    .navlink:hover{
        color: rgb(230, 230, 230);
    }
    .personalInfo{
        .name{
            font-size: 18px;
            margin: 0;
            margin-top: 15px;
            color: #e4e4e4;
        }
        .jobTitle{
            font-size: 14px;
            margin: 0;
            color: #ACACAC;
        }
    }
    .activeLink{
        color: white;
    }
    .courseName{
        font-size: 22px;
        margin: 0px;
    }
    .courseProvider{
        font-size: 14px;
        margin: 0px;
    }
    .courseSelection{
        display: flex;
        justify-content: space-between;
        position: fixed;
        a{
            width: 160px;
            color: aliceblue;
            background-color: #051c37;
            margin: 5px;
            padding: 5px;
            text-decoration: none;
            border-left: #ACACAC solid;
            border-radius: 5px;
        }
    }
    .courseSpacing{
        height: 60px;
    }
    .aboutMe{
        background-image: image-set("./Assets/BG6.jpg");
        background-size: cover;
        display: flex;
        height: fit-content;
    }
    .hobbiesDescrip{
        background-image: image-set("./Assets/BG5.jpg");
        background-size: cover;
        display: flex;
        height: fit-content;
        p, h3{
            margin: 0px;
            color: #e4e4e4;
            text-align: center;
        }
    }
    .aboutMeText , .hobbiesDescripText{
        background-color: #00020475;
        width: 50%;
        min-width: 400px;
        color: #e4e4e4;
        padding: 60px;
    }
    .hobbiesDescripText{
        background-color:#4085ca75 ;
    }
    .aboutMeImg, .hobbiesDescripImg{
        width: 50%;
    }
}
@media(max-width :700px) {
    .mainBody{
        display: block;
        height: fit-content;
    }
    .navBar{
        background-image: image-set("./Assets/BG5.jpg");
        background-size: cover;
        max-height: fit-content;
        width: 100%;
        position: fixed;
        z-index: 2;
    }
    .displayPage{
        display: flex;
        flex-direction: column;
    }
    .space{
        height: 140px;
    }
    .navLinks{
        overflow: hidden;
        height: 0px;
        text-align: end;
    }
    .navLinks>a{
        color: #ACACAC;
        text-decoration: none;
        font-size: 12px;
    }
    .navButton:checked{
        ~ .navLinks{
            height: fit-content;
            position: relative;
            bottom: 50px;
            margin-right: 15px;
            .activeLink{
                color: white;
            }
        }
    }
    .navButton{
        margin: 0;
        opacity: 0;
    }
    
    .navMenuButton{
        margin: 0;
        position: relative;
        left: 85%;
        bottom: 55px;
        margin: 20px;
        color: rgba(217, 217, 217, 1)
    }
    .profileImg{
        height: 60px;
        width: 60px;
        border-radius: 50%;
        background-image: image-set("./Assets/profile.jpg");
        background-size: cover;
        background-position: 10%;
        margin: 5px;
    }
    .profileDisplay{
        display: flex;
    }
    .personalInfo{
        .name{
            font-size: 18px;
            margin: 0;
            margin-top: 15px;
            color: #e4e4e4;
        }
        .jobTitle{
            font-size: 14px;
            margin: 0;
            color: #ACACAC;
        }
    }
    .courseName{
        font-size: 16px;
        margin: 0px;
    }
    .courseProvider{
        font-size: 12px;
        margin: 0px;
    }
    .courseSelection{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        a{
            width: 100%;
            color: aliceblue;
            background-color: #030e1b;
            margin: 1px;
            padding: 5px;
            text-decoration: none;
            border-left: #ACACAC solid;
            text-align: center;
        }
    }
    .courseSpacing{
        height: 0px;
    }
    .space{
        height: 140px;
    }
    .aboutMe{
        background-image: image-set("./Assets/BG6.jpg");
        background-size: cover;
        display: flex;
        height: fit-content;
    }
    .hobbiesDescrip{
        background-image: image-set("./Assets/BG5.jpg");
        background-size: cover;
        display: flex;
        height: fit-content;
        p, h3{
            margin: 0px;
            color: #e4e4e4;
            text-align: center;
        }
    }
    .aboutMeText , .hobbiesDescripText{
        background-color: #00020475;
        width: 90%;
        color: #e4e4e4;
        padding: 60px;
    }
    .hobbiesDescripText{
        background-color:#4085ca75 ;
    }
}

.navLink:hover{
    color: #e4e4e4;
}

.projectInfo{
    min-height: 250px;
    margin: 5px;
}
.projectCard{
    width: 95%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    background-color: #ACACAC;
    overflow: hidden;
    margin: 5px;
    border-radius: 5px;
}
.projectAdditionalInfo{
    height: fit-content;
}
.projectType{
    position: relative;
    bottom: 280px;
    left: 200px;
    height: 0px;
}
.projectDescription{
    height: fit-content;
}
.skillsBG{
   background-color: #0c1724b6;
   color: #e4e4e4;
}
.skillCardsContainer{
    display: flex;
    flex-wrap: wrap;
}
.skillCard{
    width: 250px;
    margin: 10px;
}
.progress{
    background-color: rgb(169, 169, 169);
    height: 40px;
}
.progress-bar{
    background-color:#0b3365ed ;
    background-image: image-set("./Assets/BG8.jpg");
    background-size: cover;
}
.skillName{
    font-size: 16px;
}
.courseCardsContainer{
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
}
.courseImg{
    width: 40vw;
    min-width: 200px;
    min-height: 150px;
    height: 30vw;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.courseCard{
    background-color: whitesmoke;
    margin: 5px;
    border-radius: 5px;
    width: 40vw;
    min-width: 200px;
}
.projectLink>a{
    margin-left: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    color: #051c37;
}
.projectLink>a:hover{
    text-decoration: underline;
    color: white;
}

@media(max-width :600px){
    .courseImg{
        width: 80vw;
        min-width: 200px;
        min-height: 150px;
        height: 60vw;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .courseCard{
        background-color: whitesmoke;
        margin: 5px;
        border-radius: 5px;
        width: 80vw;
        min-width: 200px;
    }
    .courseSelection{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        a{
            width: 100%;
            color: aliceblue;
            background-color: #030e1b;
            margin: 1px;
            padding: 5px;
            text-decoration: none;
            border-left: #ACACAC solid;
            text-align: center;
        }
    }
}
@media(min-width :1200px){
    .navBar{
        background-image: image-set("./Assets/BG8.jpg");
        background-size: cover;
        width: 15vw;
        min-width: 230px;
        border-right: rgba(1, 7, 28, 0.458) solid 10px;
    }
        .eduNav, .projectNav{
        background-image: none;
        background-color: #051c37;      
    }
    .navLink{
        font-size: 16px;
        margin: 10px;
    }
    .courseImg{
        width: 20vw;
        min-width: 200px;
        min-height: 150px;
        height: 15vw;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .courseCard{
        background-color: whitesmoke;
        margin: 5px;
        border-radius: 5px;
        width: 20vw;
        min-width: 200px;
    }
}

#courseWebDev, #courseAiMl, #courseData{
    color: #030e1b;
    text-align: center;
    border-bottom: #030e1b solid;
    p{
        margin: 0px;
    }
}
#webDev, #aiML, #data{
    color: #dadada;
    text-align: center;
    border-bottom: #dadada solid;
    p{
        margin: 0px;
    }
}
